<template>
<div class="container mx-auto p-1">
	<div>
		<div class="my4">
			<div>
				<div class="flex flex-wrap -mx-6">
					<div class="w-full px-1 sm:w-1/2 xl:w-2/12 mb-3">
						<div class="flex items-center p-1 shadow-sm rounded-md bg-blue-100 justify-center">
							<div class="">
								<img class="w-5 h-7" src="http://cdn.onlinewebfonts.com/svg/img_190490.png" alt="">
								</div>
								<div class="mx-3 text-center m-0">
									<p class="text-gray-500 text-xs uppercase">name</p>
									<p class="text-gray-800 text-md font-bold">NY. MARIANA (23)</p>
								</div>
							</div>
						</div>
						<div class="w-full px-1 sm:w-1/2 xl:w-2/12 mb-3">
							<div class="flex items-center p-1 shadow-sm rounded-md bg-blue-100 justify-center">
								<div class="mx-5 text-center">
									<p class="text-gray-500 text-xs">TANGGAL LAHIR</p>
									<p class="text-gray-800 text-md font-bold">13 JAN 1997</p>
								</div>
							</div>
						</div>
						<div class="w-full px-1 sm:w-1/2 xl:w-2/12 mb-3">
							<div class="flex items-center p-1 shadow-sm rounded-md bg-blue-100 justify-center">
								<div class="mx-5 text-center">
									<p class="text-gray-500 text-xs">NOMOR REKAM MEDIS</p>
									<p class="text-gray-800 text-md font-bold">01234567</p>
								</div>
							</div>
						</div>
						<div class="w-full px-1 sm:w-1/2 xl:w-3/12 mb-3">
							<div class="flex items-center p-1 shadow-sm rounded-md bg-blue-100 justify-center">
								<div class="mx-5 text-center">
									<p class="text-gray-500 text-xs">DPJP</p>
									<p class="text-gray-800 text-md font-bold">dr. Febri Bahari, SpPD, KGEH</p>
								</div>
							</div>
						</div>
						<div class="w-full px-1 sm:w-1/2 xl:w-3/12 mb-3">
							<div class="flex items-center p-1 shadow-sm rounded-md bg-blue-100 justify-center">
								<div class="bg-white p-1 rounded-3xl">
									<svg
										xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2">
										<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" fill="currentColor"></path>
										<circle cx="12" cy="7" r="4" fill="currentColor"></circle>
									</svg>
								</div>
								<div class="mx-5 text-center">
									<p class="text-gray-500 text-xs uppercase">Anda Masuk Sebagai</p>
									<p class="text-gray-800 text-md font-bold">dr. Danny Petra, SpPD</p>
								</div>
							</div>
						</div>
					</div>
					<div class="flex flex-wrap -mx-6">
						<div class="w-full px-1 sm:w-1/2 xl:w-6/12 mb-3">
							<div class="flex items-center p-1 shadow-sm rounded-md bg-blue-100 mb-3">
								<div class="mx-3 m-0">
									<p class="text-gray-500 text-xs uppercase">keluhan utama</p>
									<p class="text-gray-800 text-md">
										<span class="uppercase font-bold">ku: </span>Muntah berdarah sejak 1 hari yang lalu
									</p>
								</div>
							</div>
							<div class="flex items-center p-1 shadow-sm rounded-md bg-blue-100 mb-3">
								<div class="mx-3 m-0">
									<p class="text-gray-500 text-xs uppercase">diagnosis</p>
									<p class="text-gray-800 text-md">
										<span class="uppercase font-bold">dp: </span>Eshophageal varicies with bleeding (185.01)
									</p>
								</div>
							</div>
						</div>
						<div class="w-full px-1 sm:w-1/2 xl:w-6/12 mb-3">
							<div class="px-2 py-1 shadow-sm rounded-md bg-blue-100">
								<div class="flex flex-nowrap mb-2">
									<div class="flex md:w-2/6 m-auto w-full justify-center">
										<p class="text-gray-800 mt-1 text-xs uppercase font-bold mr-2">tanda-tanda vital</p>
										<img class="w-5 h-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkcKZU_NikNg-fY2qQoroI_v53Xpifura-Vw&amp;usqp=CAU" alt="">
										</div>
										<div class="md:w-1/6 w-full justify-center">
											<p class="w-1/2 align-center bg-gray-300 p-2 text-gray-800 mt-1 text-xs uppercase font-bold mr-2">H + 3</p>
										</div>
										<div class="md:w-3/6 w-full m-auto">
											<p class="bg-white p-2 text-gray-800 mt-1 text-xs font-bold mr-2">Last update: 
												<span class="uppercase">selasa, 27 okt 2020, 06.30 wib</span>
											</p>
										</div>
									</div>
									<div class="md:flex md:flex-nowrap">
										<div class="md:w-1/6 w-full text-center bg-green-500 p-1 mr-2 rounded-lg mb-3">
											<p class="text-gray-800 text-eksm uppercase font-bold">kesadaran</p>
											<p class="text-gray-800 text-xs uppercase font-bold">compos mentis</p>
										</div>
										<div class="md:w-1/6 w-full text-center bg-green-500 p-1 mr-2 rounded-lg mb-3">
											<p class="text-gray-800 text-eksm uppercase font-bold">tekanan darah</p>
											<p class="text-gray-800 text-sm uppercase font-bold">110/70</p>
											<p class="text-gray-800 text-xs font-bold">mmHg</p>
										</div>
										<div class="md:w-1/6 w-full text-center bg-red-500 p-1 mr-2 rounded-lg mb-3">
											<p class="text-gray-800 text-eksm uppercase font-bold">laju nadi</p>
											<p class="text-gray-800 text-sm uppercase font-bold">120</p>
											<p class="text-gray-800 text-xs font-bold">kali/menit</p>
										</div>
										<div class="md:w-1/6 w-full text-center bg-yellow-300 p-1 mr-2 rounded-lg mb-3">
											<p class="text-gray-800 text-eksm uppercase font-bold">laju nafas</p>
											<p class="text-gray-800 text-sm uppercase font-bold">20</p>
											<p class="text-gray-800 text-xs font-bold">kali/menit</p>
										</div>
										<div class="md:w-1/6 w-full text-center bg-green-500 p-1 mr-2 rounded-lg mb-3">
											<p class="text-gray-800 text-eksm uppercase font-bold">suhu tubuh</p>
											<p class="text-gray-800 text-sm uppercase font-bold">37,3</p>
											<div class="flex justify-center">
												<p class="text-gray-800 text-eksm font-bold">o</p>
												<p class="text-gray-800 text-xs font-bold">C</p>
											</div>
										</div>
										<div class="md:w-1/6 w-full text-center bg-yellow-300 p-1 mr-2 rounded-lg mb-3">
											<p class="text-gray-800 text-eksm uppercase font-bold">ews</p>
											<p class="text-gray-800 text-sm uppercase font-bold">3</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="-mx-6 mb-3">
						<div class="flex w-full p-2 bg-dongker rounded-md">
							<div class="items-center shadow-sm rounded-md bg-gray-400 w-1/6 mr-1 hover:bg-yellow-300">
								<div class="mx-3 m-0 py-1">
									<p class="text-gray-900 text-sm font-bold text-center">Pengkajian Awal</p>
								</div>
							</div>
							<div class="items-center shadow-sm rounded-md bg-gray-400 w-1/6 mr-1 hover:bg-yellow-300">
								<div class="mx-3 m-0 py-1">
									<p class="text-gray-900 text-sm font-bold text-center">Lab/Radiologi</p>
								</div>
							</div>
							<div class="items-center shadow-sm rounded-md bg-gray-400 w-1/6 mr-1 hover:bg-yellow-300">
								<div class="mx-3 m-0 py-1">
									<p class="text-gray-900 text-sm font-bold text-center">CPPT Ranap</p>
								</div>
							</div>
							<div class="items-center shadow-sm rounded-md bg-gray-400 w-1/6 mr-1 hover:bg-yellow-300">
								<div class="mx-3 m-0 py-1">
									<p class="text-gray-900 text-sm font-bold text-center">Informed Concern</p>
								</div>
							</div>
							<div class="items-center shadow-sm rounded-md bg-gray-400 w-1/6 mr-1 hover:bg-yellow-300">
								<div class="mx-3 m-0 py-1">
									<p class="text-gray-900 text-sm font-bold text-center">Screening</p>
								</div>
							</div>
							<div class="items-center shadow-sm rounded-md bg-gray-400 w-1/6 mr-1 hover:bg-yellow-300">
								<div class="mx-3 m-0 py-1">
									<p class="text-gray-900 text-sm font-bold text-center">Resume Medis</p>
								</div>
							</div>
							<div class="items-center shadow-sm rounded-md bg-gray-400 w-1/6 mr-1 hover:bg-yellow-300">
								<div class="mx-3 m-0 py-1">
									<p class="text-gray-900 text-sm font-bold text-center">Rekonsiliasi Obat</p>
								</div>
							</div>
							<img class="w-7 h-7" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkcKZU_NikNg-fY2qQoroI_v53Xpifura-Vw&amp;usqp=CAU" alt="">
							</div>
						</div>
						<div class="-mx-6">
							<div class="md:flex w-full rounded-md">
								<div class="md:w-1/6 w-full bg-blue-100 rounded-lg p-2 mr-2 mb-4">
									<p class="text-xs text-center mb-4">RIWAYAT BEROBAT</p>
									<div class="flex flex-wrap">
										<div class="w-2/6">
											<div class="bg-gray-400 border border-gray-500 w-2 h-auto m-auto">
												<div class="bg-white border-4 border-dongker rounded-3xl w-8 h-8 mt-8 -ml-3"></div>
												<div class="bg-white border-4 border-dongker rounded-3xl w-8 h-8 mt-8 -ml-3"></div>
												<div class="bg-white border-4 border-dongker rounded-3xl w-8 h-8 mt-8 -ml-3"></div>
												<div class="bg-white border-4 border-dongker rounded-3xl w-8 h-8 mt-8 -ml-3"></div>
												<div class="bg-white border-4 border-dongker rounded-3xl w-8 h-8 mt-8 -ml-3"></div>
											</div>
										</div>
										<div class="w-4/6">
											<div class="mt-8">
												<p class="text-base text-dongker font-bold">25 Okt 2020</p>
												<p class="text-sm text-dongker font-normal uppercase">igd-ranap</p>
											</div>
											<div class="mt-6">
												<p class="text-base text-dongker font-bold">3 Okt 2020</p>
												<p class="text-sm text-dongker font-normal uppercase">rajal</p>
											</div>
											<div class="mt-4">
												<p class="text-base text-dongker font-bold">4 Sept 2020</p>
												<p class="text-sm text-dongker font-norma uppercase">rajal</p>
											</div>
											<div class="mt-5">
												<p class="text-base text-dongker font-bold">20 Jun 2020</p>
												<p class="text-sm text-dongker font-norma uppercase">igd</p>
											</div>
											<div class="mt-4">
												<p class="text-base text-dongker font-bold">1 Feb 2020</p>
												<p class="text-sm text-dongker font-norma uppercase">igd-ranap</p>
											</div>
										</div>
									</div>
								</div>
								<div class="w-full md:w-5/6">
									<div class="md:flex w-full p-2 bg-dongker rounded-md">
										<div class="md:w-1/6 w-full mb-4">
											<div class="bg-black rounded-md p-2 h-96 overflow-y-scroll">
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Anamnesis</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Riw. Alergi</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Status Nyeri</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Fungsional</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Resiko Jatuh</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Screening Gizi</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Edukasi</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Pem. Fisik</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Lab</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Radiologi</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Daf. Masalah</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Tatalaksana</p>
												</div>
												<div class="bg-white rounded-md p-2 mb-2 hover:bg-yellow-300">
													<p class="text-gray-400 font-medium text-center hover:text-dongker hover:font-bold">Riw. Obat</p>
												</div>
											</div>
										</div>
										<div class="w-full md:w-5/6 md:ml-4">
											<div class="bg-white rounded-xl px-3 py-2 h-96 overflow-y-scroll">
												<div class="text-center text-base uppercase font-bold text-black mb-5"> pengkajian awal pasien rawat inap </div>
												<div class="flex flex-wrap mb-2">
													<div class="w-1/2">
														<div class="flex">
															<div class="bg-white border border-gray-500 rounded-xl w-3 h-3 mt-1 mr-2"></div>
															<p class="text-sm font-bold text-black"> Autoanamnesis </p>
														</div>
														<div class="flex">
															<div class="bg-green-500 border border-gray-500 rounded-xl w-3 h-3 mt-1 mr-2"></div>
															<p class="text-sm font-bold text-black"> Alloanamnesis : Tn. Rizal (Suami) </p>
														</div>
													</div>
													<div class="w-1/2">
														<p class="text-sm font-bold text-black"> Autoanamnesis </p>
														<p class="text-sm font-bold text-black"> Alloanamnesis : Tn. Rizal (Suami) </p>
													</div>
												</div>
												<div class="flex flex-wrap">
													<div class="w-11/12">
														<div class="w-full border border-black rounded-xl p-3 mb-1">
															<p class="text-sm text-black">
																<span class="uppercase font-bold">keluhan utama : </span>
																<span class="italic">Muntah darah sejak 1 hari yang lalu</span>
															</p>
														</div>
													</div>
													<div class="w-1/12 pl-2">
														<div class="bg-green-500 rounded-3xl p-3 w-10 mb-2">
															<svg
																xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																<polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
															</svg>
														</div>
													</div>
													<div class="w-11/12">
														<div class="w-full border border-black rounded-xl p-3 mb-1">
															<p class="text-sm text-black">
																<span class="uppercase font-bold">riwayat penyakit sekarang : </span>
																<span class="italic"> Pasien mengalami muntah berdarah sejak 1 hari yang lalu. Muntah terlihat warna kehitaman disertai makanan. Muntah sudah dialami pasien 4 kali sejak 1 hari SMRS, dengan banyak sekitar 4 botol aqua setiap muntah. Pasien juga mengeluhkan BAB warna seperti aspal. Pasien BAB sebanyak 1 kali sejak kemarin konsistensi setengah padat. Pasien tidak pernah mengalami keluhan serupa sebelumnya. Keluhan demam di sangkal. </span>
															</p>
														</div>
													</div>
													<div class="w-1/12 pl-2">
														<div class="bg-green-500 rounded-3xl p-3 w-10 mb-2">
															<svg
																xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																<polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
															</svg>
														</div>
													</div>
													<div class="w-11/12">
														<div class="w-full border border-black rounded-xl p-3 mb-1">
															<p class="text-sm text-black">
																<span class="uppercase font-bold">riwayat penyakit dahulu : </span>
																<span class="italic"> Pasien sebelumnya pernah mengalami kejala mata kuning pada 2 tahu lalu, membaik dengan obat. Pasien tidak memiliki penyakit gula maupun darah tinggi. Pasien tinggal di kampung dan mengaku tidak pernah diimunisasi. </span>
															</p>
														</div>
													</div>
													<div class="w-1/12 pl-2">
														<div class="bg-green-500 rounded-3xl p-3 w-10 mb-2">
															<svg
																xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																<polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
															</svg>
														</div>
													</div>
													<div class="w-11/12">
														<div class="w-full border border-black rounded-xl p-3 mb-1">
															<p class="text-sm text-black">
																<span class="uppercase font-bold">riwayat penyakit keluarga : </span>
																<span class="italic"> Kakak pasien juga pernah mengalami kasus muntah darah dan mata kuning. Saat ini kakak pasien sudah meningkal karena kanker liver. </span>
															</p>
														</div>
													</div>
													<div class="w-1/12 pl-2">
														<div class="bg-green-500 rounded-3xl p-3 w-10 mb-2">
															<svg
																xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																<polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
															</svg>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="flex flex-col mt-12 mb-4 -mx-6">
						<h3 class="text-gray-700 text-3xl font-medium">Table</h3>
						<div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
							<div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
								<table class="min-w-full">
									<thead>
										<tr>
											<th class="text-center px-6 py-3 border-b border-gray-200 bg-dongker text-left text-xs leading-4 font-medium text-white uppercase tracking-wider"> Name </th>
											<th class="text-center px-6 py-3 border-b border-gray-200 bg-dongker text-left text-xs leading-4 font-medium text-white uppercase tracking-wider"> NRM </th>
											<th class="text-center px-6 py-3 border-b border-gray-200 bg-dongker text-left text-xs leading-4 font-medium text-white uppercase tracking-wider"> POLI </th>
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr class="text-center">
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="items-center">
													<div class="ml-4">
														<div class="text-sm leading-5 font-medium text-gray-900">Sobri</div>
													</div>
												</div>
											</td>
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">123</div>
											</td>
                                            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">Bedah Umum</div>
											</td>
										</tr>
										<tr class="text-center">
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="items-center">
													<div class="ml-4">
														<div class="text-sm leading-5 font-medium text-gray-900">Sobri</div>
													</div>
												</div>
											</td>
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">123</div>
											</td>
                                            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">Bedah Umum</div>
											</td>
										</tr>
										<tr class="text-center">
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="items-center">
													<div class="ml-4">
														<div class="text-sm leading-5 font-medium text-gray-900">Sobri</div>
													</div>
												</div>
											</td>
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">123</div>
											</td>
                                            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">Bedah Umum</div>
											</td>
										</tr>
										<tr class="text-center">
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="items-center">
													<div class="ml-4">
														<div class="text-sm leading-5 font-medium text-gray-900">Sobri</div>
													</div>
												</div>
											</td>
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">123</div>
											</td>
                                            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">Bedah Umum</div>
											</td>
										</tr>
										<tr class="text-center">
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="items-center">
													<div class="ml-4">
														<div class="text-sm leading-5 font-medium text-gray-900">Sobri</div>
													</div>
												</div>
											</td>
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">123</div>
											</td>
                                            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">Bedah Umum</div>
											</td>
										</tr>
										<tr class="text-center">
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="items-center">
													<div class="ml-4">
														<div class="text-sm leading-5 font-medium text-gray-900">Sobri</div>
													</div>
												</div>
											</td>
											<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">123</div>
											</td>
                                            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
												<div class="text-sm leading-5 text-gray-900">Bedah Umum</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="-mx-6 mt-8">
						<h3 class="text-gray-700 text-3xl font-medium">Popup</h3>
						<button @click="open = true" class="mt-3 mr-3 px-6 py-3 bg-indigo-600 rounded-md text-white font-medium tracking-wide hover:bg-indigo-500"> Open me! </button>
						<div :class="`modal ${
                            !open && 'opacity-0 pointer-events-none'
                            } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
                        >
							<div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
							<div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
								<!-- Add margin if you want to see some of the overlay behind the modal-->
								<div class="modal-content py-4 text-left px-6">
									<!--Title-->
									<div class="flex justify-between items-center pb-3">
										<p class="text-2xl font-bold">Modal Open</p>
										<div class="modal-close cursor-pointer z-50" @click="open = false">
											<svg class="fill-current text-black"
												xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
												<path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
											</svg>
										</div>
									</div>
									<!--Body-->
									<p>Modal body.</p>
									<!--Footer-->
									<div class="flex justify-end pt-2">
										<button class="px-6 py-3 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2" @click="open = false"> Close </button>
										<button class="px-6 py-3 bg-indigo-600 rounded-md text-white font-medium tracking-wide hover:bg-indigo-500" @click="open = false"> Action </button>
									</div>
								</div>
							</div>
						</div>
						<button class="mt-3 mr-3 px-6 py-3 bg-gray-600 rounded-md text-white font-medium tracking-wide hover:bg-gray-900" @click="large =true"> Large modal! </button>
						<div :class="`modal ${
                            !large && 'opacity-0 pointer-events-none'
                            } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
                        >
							<div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
							<div class="modal-container bg-white w-11/12 md:max-w-11/12 h-5/6 mx-auto rounded shadow-lg z-50 overflow-y-auto">
								<!-- Add margin if you want to see some of the overlay behind the modal-->
								<div class="modal-content py-4 text-left px-6">
									<!--Title-->
									<div class="flex justify-between items-center pb-3">
										<p class="text-2xl font-bold">Large Modal</p>
										<div class="modal-close cursor-pointer z-50" @click="large = false">
											<svg class="fill-current text-black"
												xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
												<path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
											</svg>
										</div>
									</div>
									<!--Body-->
									<p>Body Modal</p>
								</div>
							</div>
						</div>
						<button class="mt-3 px-6 py-3 bg-green-500 rounded-md text-white font-medium tracking-wide hover:bg-green-300" @click="small = true"> Small modal! </button>
						<div :class="`modal ${
                            !small && 'opacity-0 pointer-events-none'
                            } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
                        >
							<div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
							<div class="modal-container bg-white w-2/12 h-2/12 mx-auto rounded shadow-lg z-50 overflow-y-auto">
								<!-- Add margin if you want to see some of the overlay behind the modal-->
								<div class="modal-content py-2 text-left px-3">
									<!--Title-->
									<div class="flex justify-between items-center pb-3">
										<p class="text-xl font-bold">Small Modal</p>
										<div class="modal-close cursor-pointer z-50" @click="small = false">
											<svg class="fill-current text-black"
												xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
												<path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
											</svg>
										</div>
									</div>
									<!--Body-->
									<p>Body Modal</p>
								</div>
							</div>
						</div>
					</div>
        </div>
    </div>
</template>
<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const open = ref(false);
    const large = ref(false);
    const small = ref(false);
    return {
      open,
      large,
      small
    };
  },
});
</script>