<template>
  <div class="flex">
    <!-- Backdrop -->
    <div
      :class="isOpen ? 'block' : 'hidden'"
      @click="isOpen = false"
      class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"
    ></div>
    <!-- End Backdrop -->

    <div
      :class="isOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
      class="fixed z-30 inset-y-0 left-0 transition duration-300 transform bg-dongker overflow-y-auto lg:translate-x-0 lg:static lg:inset-0"
    >
      <nav>
        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Dashboard' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 24 24">
            <path d="M3 10v11h6v-7h6v7h6v-11L12,3z" fill="currentColor"/>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Antrian' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 24 24">
            <path d="M3 10v11h6v-7h6v7h6v-11L12,3z" fill="currentColor"/>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Regis' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 24 24">
            <path d="M3 10v11h6v-7h6v7h6v-11L12,3z" fill="currentColor"/>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Rajal' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 24 24">
            <path d="M3 10v11h6v-7h6v7h6v-11L12,3z" fill="currentColor"/>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Ranap' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 24 24">
            <path d="M3 10v11h6v-7h6v7h6v-11L12,3z" fill="currentColor"/>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Rekmed' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 20 20">
            <path fill="currentColor" d="M10.862,6.47H3.968v6.032h6.894V6.47z M10,11.641H4.83V7.332H10V11.641z M12.585,11.641h-0.861v0.861h0.861V11.641z M7.415,14.226h0.862v-0.862H7.415V14.226z M8.707,17.673h2.586c0.237,0,0.431-0.193,0.431-0.432c0-0.237-0.193-0.431-0.431-0.431H8.707c-0.237,0-0.431,0.193-0.431,0.431C8.276,17.479,8.47,17.673,8.707,17.673 M5.691,14.226h0.861v-0.862H5.691V14.226z M4.83,13.363H3.968v0.862H4.83V13.363z M16.895,4.746h-3.017V3.023h1.292c0.476,0,0.862-0.386,0.862-0.862V1.299c0-0.476-0.387-0.862-0.862-0.862H10c-0.476,0-0.862,0.386-0.862,0.862v0.862c0,0.476,0.386,0.862,0.862,0.862h1.293v1.723H3.106c-0.476,0-0.862,0.386-0.862,0.862v12.926c0,0.476,0.386,0.862,0.862,0.862h13.789c0.475,0,0.861-0.387,0.861-0.862V5.608C17.756,5.132,17.369,4.746,16.895,4.746 M10.862,2.161H10V1.299h0.862V2.161zM11.724,1.299h3.446v0.862h-3.446V1.299z M13.016,4.746h-0.861V3.023h0.861V4.746z M16.895,18.534H3.106v-2.585h13.789V18.534zM16.895,15.088H3.106v-9.48h13.789V15.088z M15.17,12.502h0.862v-0.861H15.17V12.502z M13.447,12.502h0.861v-0.861h-0.861V12.502zM15.17,10.778h0.862V9.917H15.17V10.778z M15.17,9.055h0.862V8.193H15.17V9.055z M16.032,6.47h-4.309v0.862h4.309V6.47zM14.309,8.193h-0.861v0.862h0.861V8.193z M12.585,8.193h-0.861v0.862h0.861V8.193z M13.447,14.226h2.585v-0.862h-2.585V14.226zM13.447,10.778h0.861V9.917h-0.861V10.778z M12.585,9.917h-0.861v0.861h0.861V9.917z"></path>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Farmasi' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 24 24">
            <path fill="currentColor" d="M13.68,9.448h-3.128V6.319c0-0.304-0.248-0.551-0.552-0.551S9.448,6.015,9.448,6.319v3.129H6.319
              c-0.304,0-0.551,0.247-0.551,0.551s0.247,0.551,0.551,0.551h3.129v3.129c0,0.305,0.248,0.551,0.552,0.551s0.552-0.246,0.552-0.551
              v-3.129h3.128c0.305,0,0.552-0.247,0.552-0.551S13.984,9.448,13.68,9.448z M10,0.968c-4.987,0-9.031,4.043-9.031,9.031
              c0,4.989,4.044,9.032,9.031,9.032c4.988,0,9.031-4.043,9.031-9.032C19.031,5.012,14.988,0.968,10,0.968z M10,17.902
              c-4.364,0-7.902-3.539-7.902-7.903c0-4.365,3.538-7.902,7.902-7.902S17.902,5.635,17.902,10C17.902,14.363,14.364,17.902,10,17.902
              z">
            </path>
          </svg>
        </router-link>
        
        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Radiologi' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="w-7 h-7" viewBox="0 0 20 20">
            <path fill="currentColor" d="M18.737,9.691h-5.462c-0.279,0-0.527,0.174-0.619,0.437l-1.444,4.104L8.984,3.195c-0.059-0.29-0.307-0.506-0.603-0.523C8.09,2.657,7.814,2.838,7.721,3.12L5.568,9.668H1.244c-0.36,0-0.655,0.291-0.655,0.655c0,0.36,0.294,0.655,0.655,0.655h4.8c0.281,0,0.532-0.182,0.621-0.45l1.526-4.645l2.207,10.938c0.059,0.289,0.304,0.502,0.595,0.524c0.016,0,0.031,0,0.046,0c0.276,0,0.524-0.174,0.619-0.437L13.738,11h4.999c0.363,0,0.655-0.294,0.655-0.655C19.392,9.982,19.1,9.691,18.737,9.691z"></path>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Lab' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 20 20">
            <path d="M17.125,1.375H2.875c-0.828,0-1.5,0.672-1.5,1.5v11.25c0,0.828,0.672,1.5,1.5,1.5H7.75v2.25H6.625c-0.207,0-0.375,0.168-0.375,0.375s0.168,0.375,0.375,0.375h6.75c0.207,0,0.375-0.168,0.375-0.375s-0.168-0.375-0.375-0.375H12.25v-2.25h4.875c0.828,0,1.5-0.672,1.5-1.5V2.875C18.625,2.047,17.953,1.375,17.125,1.375z M11.5,17.875h-3v-2.25h3V17.875zM17.875,14.125c0,0.414-0.336,0.75-0.75,0.75H2.875c-0.414,0-0.75-0.336-0.75-0.75v-1.5h15.75V14.125z M17.875,11.875H2.125v-9c0-0.414,0.336-0.75,0.75-0.75h14.25c0.414,0,0.75,0.336,0.75,0.75V11.875z M10,14.125c0.207,0,0.375-0.168,0.375-0.375S10.207,13.375,10,13.375s-0.375,0.168-0.375,0.375S9.793,14.125,10,14.125z" fill="currentColor"></path>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Kasir' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 20 20">
            <path d="M17.125,1.375H2.875c-0.828,0-1.5,0.672-1.5,1.5v11.25c0,0.828,0.672,1.5,1.5,1.5H7.75v2.25H6.625c-0.207,0-0.375,0.168-0.375,0.375s0.168,0.375,0.375,0.375h6.75c0.207,0,0.375-0.168,0.375-0.375s-0.168-0.375-0.375-0.375H12.25v-2.25h4.875c0.828,0,1.5-0.672,1.5-1.5V2.875C18.625,2.047,17.953,1.375,17.125,1.375z M11.5,17.875h-3v-2.25h3V17.875zM17.875,14.125c0,0.414-0.336,0.75-0.75,0.75H2.875c-0.414,0-0.75-0.336-0.75-0.75v-1.5h15.75V14.125z M17.875,11.875H2.125v-9c0-0.414,0.336-0.75,0.75-0.75h14.25c0.414,0,0.75,0.336,0.75,0.75V11.875z M10,14.125c0.207,0,0.375-0.168,0.375-0.375S10.207,13.375,10,13.375s-0.375,0.168-0.375,0.375S9.793,14.125,10,14.125z" fill="currentColor"></path>
          </svg>
        </router-link>

        <router-link
          class="flex item-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Sekre' ? activeClass : inactiveClass]"
          to="/"
        >
          <svg class="h-7 w-7" viewBox="0 0 20 20">
            <path d="M17.125,1.375H2.875c-0.828,0-1.5,0.672-1.5,1.5v11.25c0,0.828,0.672,1.5,1.5,1.5H7.75v2.25H6.625c-0.207,0-0.375,0.168-0.375,0.375s0.168,0.375,0.375,0.375h6.75c0.207,0,0.375-0.168,0.375-0.375s-0.168-0.375-0.375-0.375H12.25v-2.25h4.875c0.828,0,1.5-0.672,1.5-1.5V2.875C18.625,2.047,17.953,1.375,17.125,1.375z M11.5,17.875h-3v-2.25h3V17.875zM17.875,14.125c0,0.414-0.336,0.75-0.75,0.75H2.875c-0.414,0-0.75-0.336-0.75-0.75v-1.5h15.75V14.125z M17.875,11.875H2.125v-9c0-0.414,0.336-0.75,0.75-0.75h14.25c0.414,0,0.75,0.336,0.75,0.75V11.875z M10,14.125c0.207,0,0.375-0.168,0.375-0.375S10.207,13.375,10,13.375s-0.375,0.168-0.375,0.375S9.793,14.125,10,14.125z" fill="currentColor"></path>
          </svg>
        </router-link>
      </nav>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useSidebar } from "../hooks/useSidebar";

export default defineComponent({
  setup() {
    const { isOpen } = useSidebar();
    const activeClass = ref(
      "bg-gray-600 bg-opacity-25 text-gray-100 border-gray-100"
    );
    const inactiveClass = ref(
      "border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
    );

    return {
      isOpen,
      activeClass,
      inactiveClass,
    };
  },
});
</script>
